@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Itim', cursive;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #FFBED2;
}

.page-title {
  color: white;
  font-size: 40px;
  margin: 24px;
}

.container {
  display: flex;
  width: 90vw;
  margin-left: 10px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.8;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

@media(max-width: 480px) {
  .container {
    width: 90vw;
    flex-direction: column;
    height: 90vh;
  }
  
  .page-title {
    font-size: 32px;
  }
}
